<nav class="sidebar">
  <ul class="side-nav">
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
      <a routerLink="./camera" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="../../assets/sprite.svg#icon-camera"></use>
        </svg>
        <span>Camera</span>
      </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
      <a routerLink="./dashboard" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="../../assets/sprite.svg#dash-board"></use>
        </svg>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
      <a routerLink="./history" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="../../assets/sprite.svg#icon-history"></use>
        </svg>
        <span>History</span>
      </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
      <a routerLink="./setting" class="side-nav__link" routerLinkActive="side-nav__item--active">
        <svg class="side-nav__icon">
          <use xlink:href="../../assets/sprite.svg#setting"></use>
        </svg>
        <span>Setting</span>
      </a>
    </li>
  </ul>
  <div class="legal">
    &copy; 2018 by Harry Chen. All rights reserved.
  </div>
</nav>

